<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>spottp calendar</title>
  </head>

  <body>
    <h1>spottp calendar</h1>

    <ul>
      {{#each events}}
        {{#each this}}
          {{#each this}}
            <p>{{@key}}: {{this}}</p>
          {{/each}}
        {{/each}}
      {{/each}}
    </ul>
  </body>
</html>