<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>spottp calendar</title>
  </head>

  <body>
    <h1>spottp calendar</h1>

    <ul>
      {{#each events}}
      <li>{{text}}</li>
      {{/each}}
    </ul>
  </body>
</html>